{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}
{% import 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' as knp %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% set listAttributes = listAttributes|merge({ 'class': (listAttributes.class|default('')|trim ~ ' col-md-6 push-down list-unstyled')|trim }) %}

        {% for item in item.children %}
            <ul{{ knp.attributes(listAttributes) }}>
                {{ block('item') }}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        <li{{ knp.attributes(item.attributes) }}>
            <h3 class="footer-title">{{ block('label') }}</h3>
            <hr class="hr-small">
            {{ block('children') }}
        </li>
    {% endif %}
{% endblock %}

{% block children %}
    <div class="row">
        <ul class="list-arrow-left list-inderline list-unstyled">
            {% for item in item.children %}
                {% if item.displayed %}
                    {% set attributes = item.attributes|merge({ 'class': (item.attributes.class|default('')|trim ~ ' col-xs-6')|trim }) %}
                    <li{{ knp.attributes(attributes) }}>
                        <a href="{{ item.uri }}"{% if (item.uri starts with 'http://') or (item.uri starts with 'https://') %} target="_blank"{% endif %}>
                            <span>
                                {{ block('label') }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
