{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}
{% import 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' as knp %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% set listAttributes = listAttributes|merge({ 'class': (listAttributes.class|default('')|trim ~ ' list-inline navbar-right header-navigation')|trim }) %}
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul{{ knp.attributes(listAttributes) }}>
                {% for item in item.children %}
                    {% if item.displayed %}
                        {% set attributes = item.attributes %}
                        {% set uri = item.uri %}
                        {% set linkAttributes = [] %}

                        {% if item.children %}
                            {% set uri = '#' %}
                            {% set attributes = attributes|merge({ 'class': (attributes.class|default('')|trim ~ ' dropdown')|trim}) %}
                            {% set linkAttributes = linkAttributes|merge({ 'class': 'dropdown-toggle', 'data-toggle': 'dropdown', 'role': 'button', 'aria-expanded': 'false'}) %}
                        {% endif %}

                        <li{{ knp.attributes(attributes) }}>
                            <a{{ knp.attributes(linkAttributes) }} href="{{ uri }}">{{ block('label') }}</a>
                            {{ block('children') }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block children %}
    <ul class="dropdown-menu yamm-holder list-unstyled" role="menu">
        <li>
            <div class="yamm-content">
                <div class="row">
                    <ul class="list-unstyled">
                        {% for item in item.children %}
                            {{ block('item') }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {% set attributes = item.attributes|merge({ 'class': (item.attributes.class|default('')|trim ~ ' col-sm-' ~ (12 / item.parent.children|length)|round )|trim }) %}
        <li{{ knp.attributes(attributes) }}>
            <a href="{{ item.uri }}" class="title-red title-nav">
                <span>
                    {{ block('label') }}
                </span>
            </a>
            {{ block('subchildren') }}
        </li>
    {% endif %}
{% endblock %}

{% block subchildren %}
    <ul class="nav list-unstyled">
        {% for item in item.children %}
            {{ block('subitem') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block subitem %}
    {% if item.displayed %}
        <li{{ knp.attributes(item.attributes) }}>
            <a href="{{ item.uri }}"{% if (item.uri starts with 'http://') or (item.uri starts with 'https://') %} target="_blank"{% endif %}>
                {{ block('label') }}
            </a>
        </li>
    {% endif %}
{% endblock %}
