{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}
{% import 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' as knp %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% set listAttributes = listAttributes|merge({ 'class': (listAttributes.class|default('')|trim ~ ' list-inline list-dotted uppercase')|trim }) %}

        <ul{{ knp.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}
