{% extends integrated_active_theme('base.html.twig') %}

{% block title %}{{ jobPosting.title }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% include integrated_active_theme('widgets/canonical.html.twig') with {'content': jobPosting} only %}
{% endblock %}

{% block content %}
    {% include '@IntegratedWebsiteBundle/Resources/views/json-ld.html.twig' with {content: jobPosting} %}

    <div class="row">
        <div class="col-lg-9 col-md-8 push-sm-down">
            <h1>{{ jobPosting.title }}</h1>
            <ol class="breadcrumb list-unstyled">
                <li>
                    <span class="data">
                        {{ jobPosting.publishTime.startdate|default(jobPosting.createdAt)|thompson_date }}
                        {%- if jobPosting.authors|length -%}
                            , {% trans %}by{% endtrans %}
                            {% for author in jobPosting.authors -%}
                                {{ author.person }}
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        {%- endif -%}
                    </span>
                </li>
            </ol>

            {% set media = jobPosting|media %}
            {% if media %}
                {% for item in media %}
                    {% if loop.first and item.file %}
                        {% if image(item.file).height > image(item.file).width %}
                            <img src="{{ image(item.file).cropResize(350, 1140) }}" class="img-responsive pull-left gap-right" alt="{{ item.title }}">
                        {% else %}
                            <p><img src="{{ image(item.file).cropResize(1140, 500) }}" class="img-responsive center-block" alt="{{ item.title }}"></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {{ jobPosting.content|integrated_content }}

            {% if media and media|length > 1 %}
                <div class="lightbox-holder mb">
                    <div class="row">
                        {% for item in media %}
                            {% if not loop.first %}
                                <a class="col-sm-3 col-xs-4 lightbox-item" data-footer="{{ item.title }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ image(item.file).cropResize(1000, 1000) }}">
                                    <img src="{{ image(item.file).cropResize(1000, 130) }}" class="img-responsive center-block" alt="{{ item.title }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
            {% endif %}
        </div>
    </div>

    {{ integrated_grid('main') }}

{% endblock %}
