/* breadcrumbs */
.breadcrumb {
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 10px;
	background: transparent;
	@include respond-to(phones) {
		font-size: 9px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	>li + li {
		&:before {
			color: $color-mine-shaft;
		}
	}
	a {
		color: $color-tamarillo;
		&:hover {
			text-decoration: underline;
		}
	}
}