/*Buttons*/
.btn {
	border-radius: 0px;
	box-shadow: none;
	display: inline-block;
	color: $color-white;
	font-weight: $font-bold;
	line-height: 20px;
	padding: 8px 22px;
	text-align: center;
	vertical-align: middle;
	&:hover, &:focus {
		color: $color-white;
	}
	&.btn-red, &.btn-primary {
		background: $color-tamarillo;
		border: 1px solid transparent;
		&:hover, &:focus {
			background: darken($color-tamarillo, 10%);
		}
	}
	&.btn-link {
		color: $color-lochmara;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	&.btn-load-more {
		background: $color-gallery;
		color: $color-mine-shaft;
		margin: 20px 0;
		&:hover {
			background: darken($color-gallery, 10%);
			color: $color-mine-shaft;
		}
	}
	.btn-dotted {
		height: 4px;
		width: 4px;
		border-radius: 4px;
		display: inline-block;
		background: $color-mine-shaft;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -2px;
		position: relative;
		&:before, &:after {
			content: '';
			height: 4px;
			width: 4px;
			border-radius: 4px;
			display: inline-block;
			background: $color-mine-shaft;
			position: absolute;
			top: 0;
		}
		&:before {
			left: -8px;
		}
		&:after {
			left: -16px;
		}
	}
	&.btn-block {
		display: block;
	}
	&.btn-small {
		padding: 6px 10px;
	}
	.icon-left {
		margin-right: 10px;
	}
	.icon-right {
		margin-left: 10px;
	}
}
.integrated-website-toolbar .btn, .bootbox-body .btn {
	color: #333;
}
