@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello.eot?22479852');
  src: url('#{$font-path}fontello.eot?22479852#iefix') format('embedded-opentype'),
       url('#{$font-path}fontello.woff?22479852') format('woff'),
       url('#{$font-path}fontello.ttf?22479852') format('truetype'),
       url('#{$font-path}fontello.svg?22479852#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="gym-icon-"]:before, [class*=" gym-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.gym-icon-menu:before { content: '\e800'; }
.gym-icon-search:before { content: '\e801'; }
.gym-icon-left-open-big:before { content: '\e802'; }
.gym-icon-right-open-big:before { content: '\e803'; }
.gym-icon-left-open-mini:before { content: '\e804'; }
.gym-icon-right-open-mini:before { content: '\e805'; }
.gym-icon-right:before { content: '\e806'; }
.gym-icon-down-dir:before { content: '\e807'; }
.gym-icon-up-dir:before { content: '\e808'; }
.gym-icon-download-cloud:before { content: '\e809'; }
.gym-icon-facebook:before { content: '\e80a'; }
.gym-icon-twitter:before { content: '\e80b'; }
.gym-icon-gplus:before { content: '\e80c'; }
.gym-icon-instagram:before { content: '\e80d'; }
.gym-icon-youtube:before { content: '\e80e'; }
.gym-icon-rss:before { content: '\e80f'; }
.gym-icon-check-empty:before { content: '\e810'; }
.gym-icon-check-1:before { content: '\e811'; }
.gym-icon-play:before { content: '\e812'; }
.gym-icon-right-dir:before { content: '\e813'; }
.gym-icon-left-dir:before { content: '\e814'; }
.gym-icon-ok:before { content: '\e815'; }
