/* FORMS */

.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}

textarea, textarea.form-control {
	resize: none;
	height: 100px;
}

.form-control {
	box-shadow: none;
	border-radius: 0;
	border-color: $color-mercury;
	background: $color-concrete;
	-webkit-appearance: none;
	@include custom-placeholder;
	&:focus {
		box-shadow: 0 1px 1px rgba($color-tamarillo, 0.075) inset, 0 0 8px rgba($color-tamarillo, 0.6);
		border-color: $color-mercury;
	}
}

.field-dark {
	background: $color-tundora;
}

.form-horizontal {
	.control-label {
		text-align: left;
	}
}


//Header search form
.search-form {
	&.header-search-form {
		.form-control {
			border-top: none;
			border-bottom: none;
			padding-right: 40px;
		}
	}
	&.white-form {
		.form-control {
			background: $color-white;;
		}
	}
	.form-control {
		padding-right: 40px;
	}
	.btn-search {
		position: absolute;
		top: 0;
		right: 1px;
		height: 100%;
		padding: 0 10px;
		border-left: 1px solid $color-mercury;
		@include respond-to(phones) {
			padding: 0 8px;
		}
		i {
			color: $color-gray;
		}
	}
}

.sign-up-form {
	.form-control {
		padding-right: 80px;
		border: none;
		font-style: italic;
		color: $color-white;
	}
	.btn-search {
		position: absolute;
		top: 0;
		right: 0px;
		height: 100%;
	}
}

/*Custom checkbox*/
.custom-checkbox-box {
	position: relative;
	@include respond-to(phones) {
		padding-top: 0;
	}
	label {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		text-transform: none;
		font-size: 12px;
		font-weight: $font-light;
	}
	label:before, label:after {
		font-family: 'fontello';
		font-size: 21px;
		position: absolute; top: 0; left: 0;
		color: #c4c4c8;
		@include respond-to(phones) {
			font-size: 16px;
		}
	}
	label:before {
		content: '\e810'; /*unchecked*/
	}
	label:after {
		content: '\e811'; /*checked*/
		max-width: 0;
		overflow: hidden;
		opacity: 0.5;
		transition: all 0.35s;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"]:checked + label:after {
		max-width: 25px;
		opacity: 1;
		color: $color-japanese-laurel;
	}
}

/* Comment form */
.comment-form {
	padding-left: 25px;
	@include respond-to(phones) {
		padding-left: 0;
	}
	.form-control {
		border-color: $color-silver;
	}
}

/* Search result form */
.search-result-form {
	label {
		font-size: 20px;
		@include respond-to(phones) {
			font-size: 14px;
		}
	}
	.btn-search {
		right: 15px;
	}
}









