/* LIGHTBOX */


/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */

.lightbox-item {
	margin-bottom: 30px;
	position: relative;
}
.lightbox-video-item {
  position: relative;
  display: block;
  &:before {
    font-family: 'fontello';
    display: block;
    @extend .gym-icon-play;
    width: 38px;
    height: 38px;
    background: rgba($color-black, .6);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -19px;
    margin-left: -19px;
    border: 2px solid rgba($color-white, .8);
    text-align: center;
    line-height: 36px;
    color: $color-white;
    font-size: 18px;
  }
  &:hover {
    &:before {
      background: $color-black;
      border-color: $color-white;
    }
  }
}


.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block !important;
  .glyphicon {
  	opacity: 1;
  	&:before {
  		font-family: 'fontello';
  		padding: 5px;
  		background: rgba($color-black, .6);
  	}
  	&.glyphicon-chevron-left {
  		padding: 0;
  		@extend .gym-icon-left-open-big;
  	}
  	&.glyphicon-chevron-right {
  		padding: 0;
  		@extend .gym-icon-right-open-big;
  	}
  }
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  line-height: 100% !important;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox {
	.modal-header {
		padding: 0;
		border: none;
		margin-bottom: -17px;
		height: 0;
	}
	.close {
		position: absolute;
		top: 2px;
		right: 5px;
		z-index: 5000;
		color: $color-white;
		opacity: 1;
		padding: 2px 6px;
  		background: rgba($color-black, .6);
  		font-weight: $font-light;
	}
	.modal-body {
		padding: 5px;
	}
	.modal-footer {
		text-align: left;
		border: none;
	}
}


