/* MIXINS */
// Different devices resolutions
@mixin respond-to($media) {
    @if $media == phones {
        @media only screen and (max-width: $screen-xs-max) { @content; }
    }
    @else if $media == tablets-small {
        @media only screen and (max-width: $screen-sm-max) { @content; }
    }
    @else if $media == tablets-large {
        @media only screen and (max-width: $screen-md-max) { @content; }
    }
    @else if $media == desktops {
        @media only screen and (min-width: $screen-lg-min) { @content; }
    }
}

// Placeholder text
@mixin custom-placeholder($color: $input-color-placeholder, $font-size: $input-font-size-placeholder, $line-height: $input-line-height-placeholder) {
    &:-moz-placeholder {
        color: $color;
        font-size: 14px;
        line-height: $line-height;
        opacity: 1;
        @include respond-to(phones) {
            font-size: 10px;
        }
    }
    &::-moz-placeholder {
        color: $color;
        font-size: 14px;
        line-height: $line-height;
        opacity: 1;
        @include respond-to(phones) {
            font-size: 10px;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        font-size: 14px;
        line-height: $line-height;
        opacity: 1;
        @include respond-to(phones) {
            font-size: 10px;
        }
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-size: 14px;
        line-height: $line-height;
        opacity: 1;
        @include respond-to(phones) {
            font-size: 10px;
        }
    }
}