/* Owl carousel */

/* MAIN CAROUSEL */
#big-carousel {
	img {
		max-width: 100%;
	}
	.owl-controls {
		.owl-prev, .owl-next {
			margin-top: -30%;
			@include respond-to(tablets-large) {
				display: none;
			}
			&:before {
				font-size: 50px;
			}
		}
		.owl-prev {
			left: -50px;
			@media (max-width: 1300px) {
				left: -25px;
			}
			@include respond-to(tablets-large) {
				left: 0px;
			}
		}
		.owl-next {
			right: -50px;
			@media (max-width: 1300px) {
				right: -25px;
			}
			@include respond-to(tablets-large) {
				right: 0px;
			}
		}
	}
}
/* VIDEO CAROUSEL */
#video-carousel {
	.owl-prev, .owl-next {
		margin-top: -65%;
		&:before {
			color: $color-white;
			background: rgba($color-black, .65);
			padding: 2px 5px;
		}
	}
	.item {
		.caption {
			* {
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
/* THUMBNAIL CAROUSEL */
.thumbnail-carousel-holder {
	.owl-controls {
		.owl-prev, .owl-next {
			display: none;
		}
	}
}
.thambnail-text-holder {
	margin-top: 10px;
}
#thumbnail2 {
	.owl-wrapper {
		width: 100% !important;
	}
	.owl-item {
		width: 100% !important;
		float: none;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		&.active {
			a {
				color: $color-tamarillo;
				&:before {
					font-family: 'fontello';
					@extend .gym-icon-left-open-mini;
					position: absolute;
					left: 10px;
					font-size: 24px;
					vertical-align: sub;
					@include respond-to(phones) {
						font-size: 18px;
					}
				}
			}
		}
	}
	a {
		display: inline-block;
		color: $color-mine-shaft;
		font-weight: $font-bold;
		position: relative;
		font-size: 16px;
		line-height: 26px;
		padding-left: 30px;
		&:hover {
			color: $color-tamarillo;
		}
		@include respond-to(tablets-large) {
			font-size: 14px;
			line-height: 18px;
		}
		@include respond-to(phones) {
			font-size: 10px;
			line-height: 14px;
		}
	}
}



.owl-controls {
	.owl-prev, .owl-next {
		position: absolute;
		margin-top: -50%;
		@include respond-to(tablets-large) {
			display: none;
		}
		&:hover {
			&:before {
				color: $color-tamarillo;
			}
		}
		&:before {
			font-family: 'fontello';
			font-size: 25px;
		}
	}
	.owl-prev {
		left: 0px;
		&:before {
			@extend .gym-icon-left-open-big;
		}
	}
	.owl-next {
		right: 0px;
		&:before {
			@extend .gym-icon-right-open-big;
		}
	}
}
.owl-carousel {
	img {
		max-width: 100%;
	}
}

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}






