/* Reset styles */

section, .clearfix {
	margin-bottom: 25px;
}

* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}

a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
}

ul, .nav {
	margin-bottom: 20px;
}

.mobile-text-center {
	@include respond-to(phones) {
		text-align: center;
	}
}

.push-sm-down {
	@include respond-to(tablets-small) {
  		margin-bottom: 20px;
	}
}
.push-down {
	@include respond-to(phones) {
  		margin-bottom: 20px;
	}
}

.push-down-small {
	@include respond-to(phones) {
  		margin-bottom: 15px;
	}
}
.relative {
	position: relative;
}

hr {
	border-color: $color-mercury;
	@include respond-to(phones) {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&.hr-small {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.custom-col-padding {
	padding-left: 25px;
	padding-right: 25px;
	@include respond-to(tablets-small) {
  		padding-left: 15px;
		padding-right: 15px;
	}
}
.custom-col-left {
	padding-right: 0;
	&.mobile-regular {
		@include respond-to(tablets-small) {
			padding-right: 15px;
		}
	}
}
.custom-col-right {
	padding-left: 0;
	&.mobile-regular {
		@include respond-to(tablets-small) {
			padding-left: 15px;
		}
	}
}

/* columns of same height styles */

.same-height {
	@include display(flex);
	@include respond-to(tablets-small) {
		display: block;
	}
}

.mb {
	margin-bottom: 20px;
}
.mb-small {
	margin-bottom: 10px;
}
.inline-block {
	display: inline-block;
}
.divider {
	height: 25px;
}

