/* TYPOGRAPHY */
html, body {
	font-family: $body-main-font;
	font-size: $body-font-size;
	line-height: $body-line-height;
	color: $main-text-color;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	min-height: 100%;
    @include respond-to(tablets-small) {
        font-size: 12px;
        line-height: 18px;
    }
}

* {
	&:hover, &:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $body-main-font;
	font-weight: $font-bold;
	margin-top: 0;
	line-height: 18px;
	a {
		color: $color-tamarillo;
		&:hover, &:focus {
			color: $color-lochmara;
		}
	}
}

h1, .h1 {
	font-size: 32px;
	line-height: 46px;
    margin-bottom: 20px;
    @include respond-to(tablets-small) {
    	font-size: 30px;
    	line-height: 40px;
    }
    @include respond-to(phones) {
    	font-size: 26px;
    	line-height: 38px;
    }
}

h2, .h2 {
	font-size: 22px;
	margin-bottom: 20px;
	line-height: 32px;
	@include respond-to(phones) {
		font-size: 19px;
	}
}

h3, .h3 {
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 28px;
}

h4, .h4 {
	font-size: 14px;
	line-height: 25px;
}

h5, .h5 {
	font-size: 13px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 10px;
	line-height: 18px;
}
small, .small {
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
  &.mobile-small {
    @include respond-to(phones) {
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
}


.title-red {
	color: $color-tamarillo;
	&.title-nav {
		padding: 0 5px;
	}
}

.font-light {
	font-weight: $font-light;
}
.font-regular {
	font-weight: $font-regular;
}
.font-medium {
	font-weight: $font-medium;
}
.font-bold {
	font-weight: $font-bold;
}

small {
	font-size: 0.7rem;
}
.large {
	font-size: 15px;
	line-height: 25px;
}
a {
	color: $color-lochmara;
	@include transition(150ms);
	&:hover, &:focus {
		color: $color-tamarillo;
		text-decoration: none;
	}
	&.underline {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&.active {
		color: $color-tamarillo;
	}
}
button {
	@include transition(150ms);
	border: none;
	background: none;
}
p {
	margin-bottom: 20px;
}
.uppercase {
	text-transform: uppercase;
}
.title-half-line {
	&:after {
		display: block;
		content: '';
		height: 1px;
		width: 60%;
		background: $color-mine-shaft;
	}
}
.title-line {
	&:after {
		display: block;
		content: '';
		height: 1px;
		width: 100%;
		background: $color-mine-shaft;
	}
}


.facebook-bg {
	background: $color-chambray;
	&:hover, &:focus {
		background: darken($color-chambray, 10%);
	}
}
.tweeter-bg {
	background: $color-picton-blue;
	&:hover, &:focus {
		background: darken($color-picton-blue, 10%);
	}
}
.google-bg {
	background: $color-orange-roughy;
	&:hover, &:focus {
		background: darken($color-orange-roughy, 10%);
	}
}
.instagram-bg {
	background: $color-leather;
	&:hover, &:focus {
		background: darken($color-leather, 10%);
	}
}
.youtube-bg {
	background: $color-thunderbird;
	&:hover, &:focus {
		background: darken($color-thunderbird, 10%);
	}
}

.color-white, .color-white:hover {
	color: $color-white;
}
.color-red {
	color: $color-tamarillo;
}
.color-orange {
	color: $color-carrot-orange;
}
.color-gray {
	color: $color-dusty-gray;
}
.color-black, .color-black:hover {
	color: $color-mine-shaft;
}

.wrapper {
	padding: 20px;
	@include respond-to(tablets-small) {
		padding: 20px 15px;
	}
}
.gray-bg {
	background: $color-alabaster;
}

.frame-intro, .frame-lead, .lead, .frame-subheadline, .subheadline {
	margin-bottom: 20px;
	font-size: 20px;
}

.frame-general, .frame-streamer, .streamer {
	padding: 20px 20px 20px 23px;
	background-color: #eeeeee;
	margin-bottom: 20px;
}

.frame-streamer, .streamer {
	font-style: italic;
	font-size: 20px;
}

.frame-general p:last-child, .frame-streamer p:last-child {
	margin-bottom: 0px;
}

.frame-embedded-article {
	padding: 20px 20px 20px 23px;
	background-color: #008CB5;
	margin-bottom: 20px;
	color: #ffffff;
}

.frame-embedded-article p:last-child {
	margin-bottom: 0px;
}

time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);

	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

time.gray {
	background-color: #686868
}

time > span {
	display: none;
}

time > .big {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
