{% set id = block.slug|default(random()) %}

<div class="thumbnail-carousel-holder mb">
    <div class="row">
        <div class="col-xs-6 custom-col-left">
            <div id="thumbnail1" class="owl-carousel">
                {% for document in pagination %}
                    <div class="item">
                        {% if document.cover|default %}
                            <image src="{{ integrated_image(document.cover).zoomCrop(832, 644) }}" alt="{{ document.title }}" />
                        {% endif %}
                        <div class="thambnail-text-holder">
                            <ol class="breadcrumb list-unstyled">
                                <li>
                                    {{ document.pub_time|thompson_date }}
                                </li>
                            </ol>
                            <p>{{ document.intro[0]|default(document.content[0]|striptags)|truncate(160) }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-xs-6 custom-col-right">
            <div id="thumbnail2" class="owl-carousel">
                {% for document in pagination %}
                    <div class="item">
                        <a href="{{ integrated_url(document) }}">{{ document.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
