<h5 class="title-line"><span class="label label-black label-small">{{ block.publishedTitle }}</span></h5>

<div class="banner-holder mb">
    {% for document in pagination %}
        <div class="media">
            {% if document.cover|default %}
                <div class="media-left">
                    <a href="{{ integrated_url(document) }}" title="{{ document.title }}">
                        <img class="media-object" src="{{ integrated_image(document.cover).resize(100, 34) }}" alt="{{ document.title }}">
                    </a>
                </div>
            {% endif %}
            <div class="media-body">
                <a title="{{ document.title }}" href="{{ integrated_url(document) }}">{{ document.title|truncate(60) }}</a>
            </div>
        </div>
    {% endfor %}
    {% if block.readMoreUrl|default %}
        <hr>
        <ul class="list-bullet list-unstyled">
            <li><a href="{{ block.readMoreUrl }}">{% trans %}Read more{% endtrans %}</a></li>
        </ul>
    {% endif %}
</div>
