{% if block.publishedTitle|default != "" %}
    <h5 class="title-line"><span class="label label-black label-small">{{ block.publishedTitle }}</span></h5>
{% endif %}

{% for document in pagination %}
    <div class="thumbnail transparent">
        {% set url = integrated_url(document) %}
        {% if document.cover|default  %}
            <div class="clearfix gray-bg">
                <div class="pull-right gap-left">
                    {% if url %}
                    <a href="{{ url }}">
                        {% endif %}
                        <img src="{{ integrated_image(document.cover).zoomCrop(280, 210, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}">
                        {% if url %}
                    </a>
                    {% endif %}
                </div>
                <div class="caption">
                    <h2>
                        {% if url %}
                        <a href="{{ url }}" class="color-black">
                            {% endif %}
                            {{ document.title }}
                            {% if url %}
                        </a>
                        {% endif %}
                    </h2>
                    <p>{{ document.intro[0]|default(document.content[0]|default)|striptags|truncate(350, true)|raw }}</p>
                </div>
            </div>
        {% else %}
            <div class="caption caption-gray">
                <h2>
                    {% if url %}
                    <a href="{{ url }}" class="color-black">
                        {% endif %}
                        {{ document.title }}
                        {% if url %}
                    </a>
                    {% endif %}
                </h2>
                <p>{{ document.intro[0]|default(document.content[0]|default)|striptags|truncate(600, true)|raw }}</p>
            </div>
        {% endif %}
    </div>
{% endfor %}

{{ knp_pagination_render(pagination) }}
