<h5 class="title-line">
    <span class="label label-black label-small">{{ block.title }}</span>
</h5>

{% for document in pagination %}
    <div class="clearfix">

        <h3>{{ document.title|default|raw }}</h3>
        <p>
            {{ document.start_date[0]|default(document.pub_created)|thompson_date({'timeafterdate': 'short', 'custom': 'd MMMM Y'}) }}
            {% if document.end_date[0] is defined %}
                - {{ document.end_date[0]|default()|thompson_date({'timeafterdate': 'short', 'custom': 'd MMMM Y'}) }}
            {% endif %}
        </p>

        <a href="{{ integrated_url(document) }}" class="btn btn-red pull-right">
            {{ block.readMoreUrl|default }}
        </a>

    </div><!-- clearfix -->
{% endfor %}
