<h5 class="title-line"><span class="label label-black label-small">{{ block.publishedTitle }}</span></h5>

<div class="video-carousel-holder mb">
    <div id="video-carousel" class="owl-carousel">
        {% for document in pagination %}
        <div class="item">
            <div class="embed-responsive embed-responsive-16by9">
                <a href="{{ integrated_url(document) }}" title="{{ document.title }}">
                    {% if document.cover|default %}
                        <img class="embed-responsive-item" src="{{ integrated_image(document.cover).zoomCrop(528, 296) }}" alt="{{ document.title }}" />
                    {% else %}
                        <img src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(528, 296, '#F7F7F7') }}" alt="{{ document.title }}" />
                    {% endif %}
                </a>
            </div>
            <div class="thumbnail transparent">
                <div class="caption caption-gray">
                    {% set label = document|label %}
                    {% if label %}
                        <h5 class="color-red">{{ label }}</h5>
                    {% endif %}
                    <h4>
                        <a href="{{ integrated_url(document) }}" class="text-color">
                            {{ document.title|default }}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
