<h3 class="title-half-line">{{ block.publishedTitle }}</h3>

<ul class="list-arrow-left list-large list-unstyled">
    {% for document in pagination %}
        <li>
            <a href="{{ integrated_url(document) }}">
                <span class="small date space-right">
                    {{ document.pub_time|thompson_date({'date': 'short', 'custom': null}) }}
                </span>
                <b>{{ document.title|default }}</b>
            </a>
        </li>
    {% endfor %}
</ul>
