{% for document in pagination %}
    <h5 class="title-line"><span class="label label-black label-small">{{ block.publishedTitle }}</span></h5>

    <div class="clearfix">
        {% if document.cover|default %}

            <img class="img-left" src="{{ integrated_image(document.cover).cropResize(97, 130) }}" alt="{{ document.title }}">

        {% endif %}

        <h2>{{ document.title }}</h2>

        <p>{{ document.subtitle|default }}</p>

    </div><!-- clearfix -->
{% endfor %}
