{% for document in pagination %}
    <div class="item clearfix">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                    <image class="img-responsive" src="{{ integrated_image(document.cover).zoomCrop(409, 307, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                    {% set label = document|label %}
                    {% if label %}
                        <span class="label label-red label-small">{{ label }}</span>
                    {% endif %}
                    <div class="img-text-holder">
                        <h2 class="color-white">{{ document.title }}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}