<section id="big-carousel-holder">
    <div id="big-carousel" class="owl-carousel owl-theme">
        {% for key, row in pagination|batch(7) %}
            {% set key = key * 7 %}
            <div class="item">
                <div class="row">
                    <div class="col-md-7 col-sm-12 custom-col-left mobile-regular">
                        {% set document = row[key + 0]|default %}
                        {% if document %}
                            <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                {% if document.cover|default %}
                                    <image src="{{ integrated_image(document.cover).zoomCrop(1392, 940, '#F7F7F7', 'center', 'top').zoomCrop(1392, 784, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                {% else %}
                                    <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(1392, 784, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                {% endif %}
                                {% set label = document|label %}
                                {% if label %}
                                    <span class="label label-red label-small">{{ label }}</span>
                                {% endif %}
                                {% if document.cover|default %}
                                    <div class="img-text-holder">
                                        <h2 class="color-white">{{ document.title }}</h2>
                                    </div>
                                {% else %}
                                    <div class="img-text-holder middle">
                                        <h2 class="h1 mobile-small color-black">{{ document.title }}</h2>
                                    </div>
                                {% endif %}
                            </a>
                        {% endif %}
                        <div class="row">
                            {% set document = row[key + 1]|default %}
                            {% if document %}
                                <div class="col-lg-4 col-sm-6 col-xs-6 custom-col-left">
                                    <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                        {% if document.cover|default %}
                                            <image src="{{ integrated_image(document.cover).zoomCrop(500, 403, '#F7F7F7', 'center', 'top').zoomCrop(500, 336, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                        {% else %}
                                            <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(500, 336, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                        {% endif %}
                                        {% set label = document|label %}
                                        {% if label %}
                                            <span class="label label-red label-small">{{ label }}</span>
                                        {% endif %}
                                        {% if document.cover|default %}
                                            <div class="img-text-holder">
                                                <p class="color-white">{{ document.title }}</p>
                                            </div>
                                        {% else %}
                                            <div class="img-text-holder middle">
                                                <h2 class="color-black">{{ document.title }}</h2>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {% set document = row[key + 2]|default %}
                            {% if document %}
                                <div class="col-lg-8 col-sm-6 col-xs-6 custom-col-right {% if document.cover|default %}gradient{% endif %}">
                                    <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                        {% if document.cover|default %}
                                            <image src="{{ integrated_image(document.cover).zoomCrop(500, 403, '#F7F7F7', 'center', 'top').zoomCrop(500, 336, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                        {% else %}
                                            <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(500, 336, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                        {% endif %}
                                        {% set label = document|label %}
                                        {% if label %}
                                            <span class="label label-red label-small">{{ label }}</span>
                                        {% endif %}
                                        {% if document.cover|default %}
                                            <div class="img-text-holder">
                                                <h2 class="color-white">{{ document.title }}</h2>
                                            </div>
                                        {% else %}
                                            <div class="img-text-holder middle">
                                                <h2 class="h1 mobile-small color-black">{{ document.title }}</h2>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12 custom-col-right mobile-regular hidden-xs hidden-sm">
                        {% set document = row[key + 3]|default %}
                        {% if document %}
                            <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                {% if document.cover|default %}
                                    <image src="{{ integrated_image(document.cover).zoomCrop(928, 626, '#F7F7F7', 'center', 'top').zoomCrop(928, 522, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                {% else %}
                                    <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(928, 522, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                {% endif %}
                                {% set label = document|label %}
                                {% if label %}
                                    <span class="label label-red label-small">{{ label }}</span>
                                {% endif %}
                                {% if document.cover|default %}
                                    <div class="img-text-holder">
                                        <h4 class="color-white">{{ document.title }}</h4>
                                    </div>
                                {% else %}
                                    <div class="img-text-holder middle">
                                        <h2 class="h1 mobile-small color-black">{{ document.title }}</h2>
                                    </div>
                                {% endif %}
                            </a>
                        {% endif %}

                        {% set document = row[key + 4]|default %}
                        {% if document %}
                            <div class="row">
                                <div class="col-xs-6 custom-col-left">
                                    <a href="{{ integrated_url(document) }}" class="img-holder">
                                        {% if document.cover|default %}
                                            <image src="{{ integrated_image(document.cover).zoomCrop(462, 370, '#F7F7F7', 'center', 'top').zoomCrop(462, 308, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-6 custom-col-right">
                                    <a href="{{ integrated_url(document) }}" class="img-holder triangle">
                                        {% image '@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg' %}
                                        <img src="{{ asset_url }}" alt="{{ document.title }}">
                                        {% endimage %}
                                        <div class="img-text-holder top">
                                            {% set label = document|label %}
                                            {% if label %}
                                                <p class="color-red">{{ label }}</p>
                                            {% endif %}
                                            <h4 class="color-black">{{ document.title }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% set document = row[key + 5]|default %}
                            {% if document %}
                                <div class="col-xs-6 custom-col-left">
                                    <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                        {% if document.cover|default %}
                                            <image src="{{ integrated_image(document.cover).zoomCrop(516, 516, '#F7F7F7', 'center', 'top').zoomCrop(478, 516, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                        {% else %}
                                            <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(478, 516, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                        {% endif %}
                                        {% if label %}
                                            <span class="label label-red label-small">{{ label }}</span>
                                        {% endif %}
                                        {% if document.cover|default %}
                                            <div class="img-text-holder">
                                                <p class="color-white">{{ document.title }}</p>
                                            </div>
                                        {% else %}
                                            <div class="img-text-holder middle">
                                                <h2 class="color-black">{{ document.title }}</h2>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {% set document = row[key + 6]|default %}
                            {% if document %}
                                <div class="col-xs-6 custom-col-right">
                                    <a href="{{ integrated_url(document) }}" class="img-holder {% if document.cover|default %}gradient{% endif %}">
                                        {% if document.cover|default %}
                                            <image src="{{ integrated_image(document.cover).zoomCrop(776, 523, '#F7F7F7', 'center', 'top').zoomCrop(776, 436, '#F7F7F7', 'center', 'middle') }}" alt="{{ document.title }}" />
                                        {% else %}
                                            <image src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(776, 436, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                                        {% endif %}
                                        {% if label %}
                                            <span class="label label-red label-small">{{ label }}</span>
                                        {% endif %}
                                        {% if document.cover|default %}
                                            <div class="img-text-holder">
                                                <p class="color-white">{{ document.title }}</p>
                                            </div>
                                        {% else %}
                                            <div class="img-text-holder middle">
                                                <h4 class="color-black">{{ document.title }}</h4>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
