<!DOCTYPE html>
<html>
<head>
    <title>{% block title page.title|default('Untitled') %}{% if _channel is defined %} | {{ _channel.name }}{% endif %}</title>

    {% block meta %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="format-detection" content="telephone=no">

        {% if page.description|default %}
            <meta name="description" content="{{ page.description }}">
        {% endif %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

    {% block stylesheets %}
        {% stylesheets output='css/thompson.css' filter='scssphp'
        '@IntegratedThompsonThemeBundle/Resources/sass/main.scss' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {{ integrated_stylesheets() }}
    {% endblock %}

    {% if _channel is defined and _channel.color is not empty %}
        {% include '@IntegratedThompsonThemeBundle/Resources/views/themes/thompson/partials/thompson.html.twig' with {channel: _channel} %}
    {% endif %}

    {{ integrated_block('headscripts_' ~ _channel.id) }}
</head>
<body>

{% block header %}
<header>

    <div class="header-top-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6 hidden-xs">
                    {{ integrated_menu('top_navigation', { 'depth': 1, 'template': '@IntegratedThompsonThemeBundle/Resources/views/themes/thompson/menu/top.navigation.html.twig' }) }}
                </div><!-- col -->

                <div class="col-lg-3 col-sm-3 col-xs-5">
                    <form action="/search" class="search-form header-search-form" method="get">
                        <div class="form-group relative">
                            <input type="text" class="form-control" name="search-results-search" placeholder="Zoeken...">
                            <button class="btn-search" type="submit"><i class="gym-icon-search"></i></button>
                        </div><!-- form-group -->
                    </form><!-- search-form -->
                </div><!-- col -->

                <div class="col-lg-2 col-sm-3 col-xs-7">
                    {% block top_navigation_menu_right %}
                        <ul class="list-inline list-dotted uppercase pull-right list-unstyled">
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            <li><a href="#">Create Account</a></li>
                        </ul><!-- list-dotted -->
                    {% endblock %}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- header-top-holder -->

    <div class="header-bottom-holder">
        <div class="container">
            <nav class="yamm navbar">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="gym-icon-menu"></i>
                        Site Navigation
                    </button>
                    {% if _channel is defined %}
                        {% if _channel.logo is not empty %}
                            <a class="header-logo" href="/"><img src="{{ image(_channel.logo).cropResize(400, 68) }}" alt="{{ _channel.name|default }}"></a>
                        {% else %}
                            {{ _channel.name|default }}
                        {% endif %}
                    {% endif %}
                </div><!-- navbar-header -->

                {{ integrated_menu('main', { 'depth': 3, 'template': '@IntegratedThompsonThemeBundle/Resources/views/themes/thompson/menu/main.html.twig' }) }}

            </nav>
        </div><!-- container -->
    </div><!-- header-bottom-holder -->

</header>
{% endblock %}

<div class="content">
    <div class="container">
        {% block content %}
            {{ integrated_grid('main') }}
        {% endblock %}
    </div>
</div>

<footer>

    <div class="container">
        <div class="footer-top-holder">
            <div class="row">
                {{ integrated_menu('footer_navigation', { 'depth': 2, 'template': '@IntegratedThompsonThemeBundle/Resources/views/themes/thompson/menu/footer.navigation.html.twig' }) }}
            </div><!-- row -->
        </div><!-- footer-top-holder -->
        <hr>
        <div class="footer-bottom-holder">
            <p class="text-center">
                {% if _channel is defined and _channel.logo is not empty %}
                    <a href="#"><img src="{{ image(_channel.logo).resize(245, 48) }}" alt="{{ _channel.name|default }}"></a>
                {% endif %}

                © {{ "now"|date("Y") }} {% if _channel is defined %}{{ _channel.name|default }}{% endif %}. All rights reserved.
            </p>
        </div><!-- footer-bottom-holder -->
    </div><!-- container -->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/integratedthompsontheme/components/modernizr/modernizr.js') }}"></script>
<script src="{{ asset('bundles/integratedthompsontheme/components/html5shiv/dist/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/integratedthompsontheme/components/respond/dest/respond.min.js') }}"></script>
<script src="{{ asset('bundles/integratedthompsontheme/components/ekko-lightbox/dist/ekko-lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/integratedthompsontheme/js/owl.carousel.js') }}"></script>
<script src="{{ asset('bundles/integratedthompsontheme/components/jquery-placeholder/jquery.placeholder.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>

{% block javascripts %}
    {% javascripts output='js/scripts.js'
    '@IntegratedThompsonThemeBundle/Resources/public/js/scripts.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ integrated_javascripts() }}
{% endblock %}

{{ integrated_block('footerscripts_' ~ _channel.id) }}

</body>
</html>
