/* FOOTER */
footer {
	padding: 20px 0 30px 0;
	border-top: 1px solid $color-mercury;
	@include respond-to(tablets-small) {
		background: $color-cod-gray;
		p, ul a {
			color: $color-dusty-gray;
		}
	}
	hr {
		@include respond-to(tablets-small) {
			border-color: $color-scorpion;
		}
	}
	ul {
		>li {
			>a {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		} 
	}
	.list-arrow-left {
		a {
			@include respond-to(tablets-small) {
				&:before {
					color: $color-dusty-gray;
				}
				&:hover {
					&:before {
						color: $color-dusty-gray;
					}
				}
			}
		}
	}
}
.footer-top-holder {
	padding-bottom: 20px;
}
.footer-title {
	color: $color-tamarillo;
	position: relative;
	&.logo-holder {
		padding-left: 80px;
		@include respond-to(tablets-small) {
			padding-left: 0;
		}
	}
}
.footer-logo {
	display: inline-block;
	max-width: 62px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -5px;
	img {
		max-width: 100%;
	}
}