/* HEADER */
header {
  border-bottom: 1px solid $color-mercury;
  ul {
    > li {
      line-height: 32px;
    }
  }
}

.header-top-holder {
  border-bottom: 1px solid $color-mercury;
  a {
    font-size: 10px;
  }
  ul {
    margin-bottom: 0px;
  }
}

.header-logo {
  img {
    max-width: 100%;
  }
  @include respond-to(phones) {
    padding: 9px 0 9px 15px;
    max-width: 135px;
    display: inline-block;
  }
}

.header-navigation {
  margin-top: 15px;
  @include respond-to(tablets-small) {
    margin-top: 0;
  }
  > li {
    padding: 0;
    @include respond-to(tablets-small) {
      display: block;
      padding-left: 0;
    }
    > a {
      font-weight: $font-bold;
      display: block;
      padding: 0 10px;
    }
  }
}

.navbar-toggle {
  font-size: 14px;
  padding-right: 0;
  margin: 2px 0 0 0;
  i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: bottom;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;
  min-height: auto;
}

.navbar-collapse {
  border: none;
  padding: 0;
  &.in {
    overflow-y: unset;
    overflow-y: visible;
  }
}

