{% extends integrated_active_theme('base.html.twig') %}

{% block title %}{{ company.name }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% include integrated_active_theme('widgets/canonical.html.twig') with {'content': company} only %}
{% endblock %}

{% block content %}
    {% include '@IntegratedWebsiteBundle/Resources/views/json-ld.html.twig' with {content: company} %}

    <div class="row">
        <div class="col-lg-8 col-md-8 push-sm-down">
            {% if company.logo %}
                <img src="{{ integrated_image(company.logo).cropResize(350, 500) }}" class="img-responsive pull-right gap-left" alt="Logo {{ company.name }}">
            {% endif %}

            <h1>{{ company.name }}</h1>
            {% for address in company.addresses %}
                {% if address.type == "Visiting address" %}
                    {{ address.address1 }}<br />
                    {{ address.zipcode }} {{ address.city }}<br />
                {% endif %}
            {% endfor %}
            {% if company.website %}
                <a href="{{ company.website }}" target="_blank">{{ company.website }}</a><br />
            {% endif %}
            <br />

            {% set media = company|media %}
            {% if media %}
                {% for item in media %}
                    {% if loop.first and item.file %}
                        {% if image(item.file).height > image(item.file).width %}
                            <img src="{{ integrated_image(item.file).cropResize(350, 1140) }}" class="img-responsive pull-left gap-right" alt="{{ item.title }}">
                        {% else %}
                            <p><img src="{{ integrated_image(item.file).cropResize(1140, 500) }}" class="img-responsive center-block" alt="{{ item.title }}"></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {{ company.description|raw }}

            {% if media and media|length > 1 %}
                <div class="lightbox-holder mb">
                    <div class="row">
                        {% for item in media %}
                            {% if not loop.first %}
                                <a class="col-sm-3 col-xs-4 lightbox-item" data-footer="{{ item.title }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ image(item.file).cropResize(1000, 1000) }}">
                                    <img src="{{ integrated_image(item.file).cropResize(1000, 130) }}" class="img-responsive center-block" alt="{{ item.title }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
            {% endif %}
        </div>

        {{ integrated_grid('article') }}

        <div class="col-lg-4 col-md-4">

            <aside>
                {{ integrated_grid('right') }}
            </aside>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 push-sm-down">
            {{ integrated_grid('main') }}
        </div>
    </div>

{% endblock %}
