{% extends integrated_active_theme('base.html.twig') %}

{% block title %}{{ taxonomy.title }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% include integrated_active_theme('widgets/canonical.html.twig') with {'content': taxonomy} only %}
{% endblock %}

{% block content %}
    {% include '@IntegratedWebsiteBundle/Resources/views/json-ld.html.twig' with {content: taxonomy} %}

    <div class="row">
        <div class="col-lg-8 col-md-8 push-sm-down">
            <h1>{{ taxonomy.title }}</h1>

            {% set media = taxonomy|media %}

            {% if media %}
                {% for item in media %}
                    {% if loop.first and item.file %}
                        {% if image(item.file).height > image(item.file).width %}
                            <img src="{{ image(item.file).cropResize(350, 1140) }}" class="img-responsive pull-left gap-right" alt="{{ item.title }}">
                        {% else %}
                            <p><img src="{{ image(item.file).cropResize(1140, 500) }}" class="img-responsive center-block" alt="{{ item.title }}"></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if media and media|length > 1 %}
                <div class="lightbox-holder mb">
                    <div class="row">
                        {% for item in media %}
                            {% if not loop.first %}
                                <a class="col-sm-3 col-xs-4 lightbox-item" data-footer="{{ item.title }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ image(item.file).cropResize(1000, 1000) }}">
                                    <img src="{{ image(item.file).cropResize(1000, 130) }}" class="img-responsive center-block" alt="{{ item.title }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
            {% endif %}

            {{ integrated_grid('article') }}
        </div>
        <div class="col-lg-4 col-md-4">

            <aside>
                {{ integrated_grid('right') }}
            </aside>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 push-sm-down">
            {{ integrated_grid('main') }}
        </div>
    </div>

{% endblock %}
