<style type="text/css">
    .owl-controls .owl-prev:hover:before,
    .owl-controls .owl-next:hover:before,
    #thumbnail2 a:hover,
    #thumbnail2 .owl-item.active a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown.open .dropdown:hover > a,
    .dropdown.open .dropdown:focus > a,
    .modal-header .close:hover,
    .list-expanded.list-inner > li > a:hover i,
    .list-arrow-left > li > a:hover:before,
    .list-arrow-left > li > a:focus:before,
    ul > li > a:hover,
    ul > li > a:focus,
    .color-red,
    a:hover,
    a:focus,
    a.active,
    .title-red,
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a,
    .h1 a,
    .h2 a,
    .h3 a,
    .modal-title a,
    .h4 a,
    .h5 a,
    .label a,
    .h6 a,
    .footer-title,
    .media-red-title,
    .marquee a:hover,
    .breadcrumb a,
    .pagination > li > a,
    .pagination > li > span,
    .thumbnail-title {
        color: {{ channel.color }};
    }

    .btn.btn-red:hover,
    .btn.btn-red:focus,
    .btn.btn-red,
    .label.label-red {
        background: {{ channel.color }};
    }

    .label.label-triangle:before {
        border-color: transparent transparent transparent {{ channel.color }};
    }

    .list-tags a:hover,
    .list-tags a:focus,
    .list-tags a.active {
        border-color: {{ channel.color }};
        color: {{ channel.color }};
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        background-color: {{ channel.color }};
        border-color: {{ channel.color }};
    }

    .frame-streamer, .streamer {
        border-left: 3px solid {{ channel.color }};
    }
</style>
