<div class="wrapper gray-bg padding-bottom-0">
    <div class="search-result-holder">
        <div class="row">
            <div class="col-sm-10">
                <form method="get"{% if block.url|default %} action="{{ block.url }}"{% endif %} class="search-form search-result-form form-horizontal">
                    <div class="form-group relative">
                        <label for="result1" class="col-lg-3 col-sm-4 control-label"></label>
                        <div class="col-lg-9 col-sm-8">
                            <input class="form-control" placeholder="{% trans %}Zoeken...{% endtrans %}" type="text" name="{{ block.block.id }}-search" value="{{ app.request.get(block.block.id ~ '-search') }}" />
                            <button class="btn-search" type="submit"><i class="gym-icon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
