<div class="padding-top-0 clearfix">
    <hr>

    {% if block.title %}
        <h3 class="title-half-line">{{ block.title }}</h3>
    {% endif %}

    <div class="media-holder">
        {% for document in pagination %}
            <div class="media">
                <div class="media-body">
                    <p>
                        <b class="name">{{ document.name }} </b>
                        <small>
                            <span class="date">{{ document.createdAt|thompson_date }}</span>
                        </small>
                    </p>
                    <p>
                        {{ document.comment }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination) }}
</div>