<div class="wrapper gray-bg padding-top-0 clearfix">
    <hr>

    <div class="sort-by-holder">
        <p class="text-right color-gray">
            <span>
                {{ pagination.getPaginationData.firstItemNumber }}-{{ pagination.getPaginationData.lastItemNumber }}
            </span>
            {% trans %}of{% endtrans %}
            <span>{{ pagination.getTotalItemCount }}</span>
            {% trans %}results{% endtrans %}
        </p>
    </div>

    <hr>

    <div class="media-holder">
        {% for document in pagination %}
            <div class="media">
                <div class="media-left">
                    {% if document.cover|default %}
                        <a title="{{ document.title }}" href="{{ integrated_url(document) }}">
                            <img src="{{ integrated_image(document.cover).zoomCrop(150, 150, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                        </a>
                    {% else %}
                        <img src="{{ image('@IntegratedThompsonThemeBundle/Resources/public/images/slide6.jpg').zoomCrop(150, 150, '#F7F7F7', 'center', 'top') }}" alt="{{ document.title }}" />
                    {% endif %}
                </div>
                <div class="media-body">
                    <p><a href="{{ integrated_url(document) }}" class="media-red-title">{{ document }}</a></p>
                    <p>{{ document.intro|default(document.content|default)|striptags|truncate(160, true)|raw }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination) }}
</div>
