<h5 class="title-line"><span class="label label-black label-small">{{ block.publishedTitle }}</span></h5>

<ul class="list-tags list-unstyled">
    {% for document in pagination %}
        <li><a href="{{ integrated_url(document) }}">{{ document }}</a></li>
    {% endfor %}
</ul>
