<h3 class="title-half-line">{{ block.title }}</h3>

{% if form.vars.submitted and form.vars.valid %}
    {{ block.textAfterSubmit }}
{% else %}
    {{ form(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'col_size': 'sm' }) }}
{% endif %}