<aside>
    <h5 class="title-line"><span class="label label-black label-small">{{ block.title }}</span></h5>
    {% for field, facet in facets %}
        {% set filter = app.request.query.get(field)|default([]) %}
        <ul class="list-check list-unstyled">
            <li>{{ facet.name }}:</li>
            <li>
                {% set params = {(field): []} %}
                {% set params = app.request.query.all|merge(app.request.attributes.get('_route_params')|merge(params)) %}
                <a href="{{ path(app.request.attributes.get('_route'), params) }}" {% if not filter %}class="active"{% endif %}>
                    {% trans %}All{% endtrans %}
                </a>
            </li>
            {% for name, count in facet.values %}
                <li>
                    {% set params = {(field): (name in filter) ? filter|unset_value(name) : filter|merge([name])} %}
                    {% set params = app.request.query.all|merge(app.request.attributes.get('_route_params')|merge(params)) %}
                    <a href="{{ path(app.request.attributes.get('_route'), params) }}" {% if name in filter %}class="active"{% endif %}{% if filter|length > 0 %} rel="nofollow"{% endif %}>
                        {{ name }} ({{ count }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</aside>
