.frame-intro, .frame-lead, .lead, .frame-subheadline, .subheadline {
    margin-bottom: 14px;
    font-size: 18px;
}

.frame-streamer, .streamer {
    padding: 10px 10px 10px 10px;
    font-style: italic;
    background-color: #eeeeee;
    margin-bottom: 14px;
    font-size: 18px;
    border-left: 3px solid #016aac;
}

.frame-streamer p:last-child, .streamer p:last-child {
    margin-bottom: 0px;
}
