{% extends integrated_active_theme('base.html.twig') %}

{% block title poll.title %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-8 push-sm-down">
            {% include '@IntegratedThompsonTheme/themes/thompson/blocks/poll/default.html.twig' %}
            {{ integrated_grid('main') }}
        </div>

        <div class="col-lg-4 col-md-4">
            <aside>
                {{ integrated_grid('right') }}
            </aside>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 push-sm-down">
            {{ integrated_grid('full') }}
        </div>
    </div>
{% endblock %}
