{% extends integrated_active_theme('base.html.twig') %}

{% block title %}{{ event.title }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% include integrated_active_theme('widgets/canonical.html.twig') with {'content': event} only %}
{% endblock %}

{% block content %}
    {% include '@IntegratedWebsiteBundle/Resources/views/json-ld.html.twig' with {content: event} %}

    <div class="row">
        <div class="col-lg-9 col-md-8 push-sm-down">
            <h1>{{ event.title }}</h1>

            {% if not event.endDate is empty %}
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <time class="gray">
                            {% trans %}From{% endtrans %} <span class="big">{{ event.startDate|thompson_date({'timeafterdate': 'short', 'custom': 'd MMMM Y H:mm'}) }}</span>
                        </time>
                    </div>
                    <div class="col-sm-6">
                        <time class="gray">
                            {% trans %}To{% endtrans %} <span class="big">{{ event.endDate|thompson_date({'timeafterdate': 'short', 'custom': 'd MMMM Y H:mm'}) }}</span>
                        </time>
                    </div>
                </div>
            {% else %}
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <time class="gray">
                            <span class="big">{{ event.startDate|thompson_date({'timeafterdate': 'short', 'custom': 'd MMMM Y H:mm'}) }}</span>
                        </time>
                    </div>
                </div>
            {% endif %}

            {% set media = event|media %}
            {% if media %}
                {% for item in media %}
                    {% if loop.first and item.file %}
                        {% if image(item.file).height > image(item.file).width %}
                            <img src="{{ image(item.file).cropResize(350, 1140) }}" class="img-responsive pull-left gap-right" alt="{{ item.title }}">
                        {% else %}
                            <p><img src="{{ image(item.file).cropResize(1140, 500) }}" class="img-responsive center-block" alt="{{ item.title }}"></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {{ event.content|integrated_content }}

            {% if event.website %}
                <h5><a href="{{ event.website }}">{{ event.website }}</a></h5>
            {% endif %}

            {% if media and media|length > 1 %}
                <div class="lightbox-holder mb">
                    <div class="row">
                        {% for item in media %}
                            {% if not loop.first %}
                                <a class="col-sm-3 col-xs-4 lightbox-item" data-footer="{{ item.title }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ image(item.file).cropResize(1000, 1000) }}">
                                    <img src="{{ image(item.file).cropResize(1000, 130) }}" class="img-responsive center-block" alt="{{ item.title }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
            {% endif %}
        </div>
    </div>

    {{ integrated_grid('main') }}

{% endblock %}
