{% if block.items|length %}
    {% for document in block.items if not document.disabled %}
        <h5 class="title-line"><span class="label label-black label-small">{{ document.title }}</span></h5>

        <div class="clearfix">
            {% if document.image|default %}

                {% if document.link %}
                    <a href="{{ document.link }}" {% if document.target %}target="{{ document.target }}"{% endif %}>
                {% endif %}

                <img class="img-left" src="{{ web_image(document.image).cropResize(97, 130) }}" alt="{{ document.title }}">

                {% if document.link %}
                    </a>
                {% endif %}
            {% endif %}

            <p>{{ document.text|default|raw }}</p>

            {% if document.link|default %}
                <a href="{{ document.link }}"{% if document.target %} target="{{ document.target }}"{% endif %} class="btn btn-red">
                    {{ document.linkText|default }}
                </a>
            {% endif %}

        </div><!-- clearfix -->
    {% endfor %}
{% endif %}
